extends layout

block content
  h1= title
  p Welcome to #{title}
  p Input
  form(name="inForm")
    textarea(name="inData" row="10" style='width: 60em; height: 10em;')
    input(type="button" value="Format" onClick="formatData()" style='margin: 0 20px 0 20px;')
  p Result
  form(name="outForm")
    textarea(name="outData" row="10" readOnly style='width: 60em; resize: none;')

  script(type="text/javascript").
    function formatData(){
      var d = document.inForm.inData.value;
      var obj = {};
      try{
        obj = JSON.parse(d);
      }catch(e){
        document.outForm.outData.value = e.toString();
        return;
      }
      var formatted = JSON.stringify(obj, null, 4);
      document.outForm.outData.value = formatted;
      document.outForm.outData.style.height = formatted.split("\n").length + 3 + "em";
    }

